<!DOCTYPE html>
<html>
    <head>
        <title>DMA Traffic Rendering Tool</title>
        <!-- Latest compiled and minified CSS -->
       
        
        <style>
	path {
		stroke: #fff;
		fill-rule: evenodd;
		}

	text {
		font-family: Arial, sans-serif;
		font-size: 12px;
	}
            
           
        </style>
        
    </head>
    <body>
 
        <!-- jquery files from CDN -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- D3 JS from CDN  -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.js"></script>

       <!-- START CHART ROWS HERE -->
       <div id="sunburstchart">
             {% block graphcontentrow1 %}
                       <p>dmm here</p>
              {% endblock %}
        </div>

<script>

</script>
 

 


    </body>
</html>
